*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
.html, body{
    height: 100%;
    overflow-x: hidden;
}
    header{
    width: 100%;
    height: 100vh;
    max-height: 700px;
    background-image: url(' ../imagens/capa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
}
header nav{
    margin-top: 30px;
    float: right;
}
header nav ul {
    text-decoration: none;
}
header li{
    padding:20px 40px;
    color: white;
    font-size: 15px;
    display: inline-block;
}
.logo{
    width: 150px;
    height: 50px;
    background-color: #3f575e5e;
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
}

aside{
    display: inline-block;
    color: white;
    margin-top:100px;
    margin-left: 200px;
    width: 60%;
    height: 100vh;
    max-height: 300px;
}
aside h1{
    margin-top: 10px;
    font-size: 40px;
}
aside p{
    margin-top: 10px;
    font-size: 20px;
}

.container{
    color: white;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 400px;
    background-color: #472562;
}
.name{
    position: relative;
    margin-top: 40px;
    margin-left: 6%;
    width: 500px;
    height: 400px;
    color: white;
}
.name h1{
    width: 600px;
    font-size: 35px;
}
.name p{
    margin-top: 30px;
    font-size: 20px;
}
.name ul{
    margin-left: 25px;
    margin-top: 10px;
    list-style: inside;
}

.name li{
    line-height: 25px;
    font-size: 15px;
}

.botão{
    margin-top: 35px;
    width: 180px;
    height: 50px;
}
.botão button{
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 100px;
    background-color: #FF703D;
    width: 100%;
    height: 100%;
}

.branco{
    width: 100%;
    position: 10%;
    text-align: center;
}

.painel{
    position:absolute;
    margin:-35% 13%;
    display: flex;
    width: 70%;
    height: 100vh;
    max-height: 600px;
    background-color: rgb(206, 206, 206);
    box-shadow: 0px 1px 50px 2px #000000;
}

.marca-black{
    width: 100%;
    height: 70px;
    background-color: #2B2F3B;
    border-top-right-radius: 10px ;
    display: flex;
    padding: 20px;
}

.quadrado{
    margin-top: 8px;
    margin-right: 9px;
    width: 1.5%;
    height: 15px;
    background-color: rgb(228, 52, 52);
    transform: rotate(48deg);
}

.bolinha{
    margin-top: 10px;
    margin-right: 9px;
    border-radius: 50%;
    width: 1.5%;
    height: 12px;
    background-color: rgb(58, 68, 209);
}


.texto1{
    position:relative;
    margin: 550px auto;
    width: 100%;
    max-width: 1000px;
}

.texto1 h1{
    font-size: 35px;
}
.texto1 p{
    margin-top: 20px;
    font-size: 15px;
    line-height: 35px;
}


.imagem img{
   position: relative;
   margin-right: 100px;
   width: 90%;
   height: 575px;
   margin-top: -100px;
}


.nosso-time{
    background-color: #835FA7;
    width: 50%;
    height: 500px;
}
.texto2{
    color: white;
    width: 50%;
    float: right;
    margin-right: 130px;
    margin-top: 30%;
}
.clear{
    clear: both;
}

.texto2 h1{
    text-align: justify;
}

.texto2 p{
    margin-top: 15px;
    line-height: 20px;
    text-align: left;
    font-size: 10px;
}

.caixas-coloridas{
    display: flex;
}
.empresa{
    background-color: #F3F7FB;
    float: right;
    color: rgb(19, 18, 18);
    width: 50%;
    height: 500px;
}
.texto3{
    width: 80%;
    margin-top: 30%;
    margin-left: 40px;
}
.texto3 h1{
    font-weight: normal ;
    font-family: 'Noto Serif', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Send Flowers', cursive;
    font-style: italic;
}
.texto3 p{
    margin-top: 20px;
    line-height: 30px;
}
.texto3 h3{
    margin-top: 10px;
}

.foto{
    margin-left: 320px;
    position: absolute;
    width: 60px;
    height: 70px;
    border-radius: 900px;
    background-color: black;
    background-image: url('../imagens/foto.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}

footer{
    z-index: 1;
    width: 100%;
    height: 700px;
    display: flex;
}
.box1{
    width: 100%;
    background-color: #472562;
}
form{
    position: relative;
    color: white;
    margin: 100px 100px;
    width: 40%;
    height: 100vh;
    max-height: 200px;
    background-color: #472562;
}
.text4{
    margin-top: 0;
}

.text4 > h1{
    width: 300px;
    font-weight: normal;
}


.text4 > p{
    width: 400px;
    line-height: 20px;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

input{
    padding-left: 15px;
    width: 500px;
    height: 60px;
}
.mensagem input{
    margin-top: 20px;
    padding-bottom:110px;
    padding-top: 20px;
}

form input{
    margin-top: 10px;
}

.enviar{
    margin-top: 30px;
}
.enviar button{
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 50px;
    background-color: #FF703D;
}

.box2{
    display: flex;
    margin-top: -20px;
    color: white;
    width: 100%;
    height: 100vh;
    max-height: 100px;
    background-color: #192123;
}
.box2 p{
    margin-top: 30px;
    margin-left: 14%;
}
.box2 span{
    margin-right:10%;
    margin-top: 30px;
    margin-left: 30%;
}



.maps{
    margin-top: -210px;
    margin-right: 130px;
    width: 35%;
    height: 100vh;
    max-height: 400px;
    float: right;
    background-color: white;
    color: white;
}
.h1 h1{
    font-weight: normal;
    margin-top: -90px;
}
.mapa{
    margin-top: 51px;
}


























/*
@media screen and (max-width:1400px) {
    .logo{
        width: 100%;
        margin: 0 auto;
        position: absolute;
        display: inline-block;
    }
    .logo img{
        margin: 0 36%;
        width: 400px;
    }
    header ul{
        background-color: rgba(180, 180, 180, 0.219);
        width: 100%;
        padding: 0;
        margin-top: 100px;
    }
    header li{
        font-weight: bold;
        font-size: 20px;
        margin-right: 180px;
    }
    section{
       width: 90%;
       height: 200px;
       margin: 100px auto;
    }
}